numpy
scipy
matplotlib
h5py
ipython
netCDF4
numba
pandas
pyproj
pytest
requests
xarray
arviz
differint
evtk
fitz
joblib
matspy
pyamg
pygmt
pymc
pytensor
pyvista
rasterio
simplekml
sklearn
sksparse
threadpoolctl
